#App {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, rgb(255, 133, 133), 45%, skyblue);
  font-family: "Gugi", cursive;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
